body {
    background: $primary-background;
    font-family: $primary-font-stack;
    line-height: 1.5;
    font-size: 18px;

    @media screen and (max-width: $max-width-small) {
        background: $primary-background;
    }
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    margin-bottom: 1em;
    margin-top: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.35em;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;

    &.headerlink {
        border-bottom: 0;
    }
}

a:hover:not(.headerlink) {
    border-bottom: 2px solid $primary-foreground;
}

p {
    margin-bottom: 1em;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

li {
    display: list-item;
}

ol {
    display: block;
    list-style-type: decimal;
    padding-left: 40px;
}

ul {
    display: block;
    list-style-type: disc;
    padding-left: 25px;
}

ul ul {
    list-style-type: circle;
}

pre {
    font-family: $monospace-font-stack;
    background-color: $accent-background;
    color: $accent-foreground;
    padding: 2em;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    max-width: 100%;
}

table thead th {
    font-weight: bold;
    text-align: left;
}

table th, table td {
    padding: 0.5em;
}

table tbody tr:nth-of-type(odd) {
    background-color: $accent-background;
    color: $accent-foreground
}

pre code {
    white-space: nowrap;
    overflow-x: auto;
}

code {
    max-width: 100%;
    padding: 2px;
    font-family: $monospace-font-stack;
    background-color: $accent-background;
    color: $accent-foreground;
}

table tbody tr:nth-of-type(odd) code {
    background-color: $primary-background;
    color: $primary-foreground;
}
