footer {
    display: flex;
    justify-content: space-between;
    margin: 2em;

    #footer-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    a#menu-toggle {
        display: none;
        opacity: 1;
        font-size: 32px;
        cursor: pointer;

        &.toggled {
            color: $accent-background;
        }
    }

    ul#build-details {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            margin-right: 0.25em;

            &:not(:last-child):after {
              content: " // ";
              margin-left: 0;
            }
        }
    }

    @media screen and (max-width: $max-width-small) {
        align-items: center;

        #footer-info {
            display: block;
        }

        a#menu-toggle {
            display: block;
        }
    }

}
