#insegel-container {
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $max-width-small) {
        padding: 0;
    }
}

#content-container {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;

    @media screen and (max-width: $max-width-small) {
        display: block;
    }
}

#main-content-container {
    flex: 1;
}

#main-content-container, #side-menu-container {
    background-color: $primary-background;
}

#main-content {
    padding: 2em;

    .figure {
        text-align: center;
    }

    // Hides the first header of the documentation, as it is instead put into
    // the main-content-header
    h1:first-child {
        display: none;
    }
}

#main-content-header {
    background-color: $secondary-background;
    color: $secondary-foreground;
    padding: 2em;

    h1 {
        margin: 0;
    }
}

#side-menu-container {
    width: 300px;
    margin-right: 2em;
    position: relative;

    #side-menu {
        padding: 2em;
        // Margin needed so that the RTD credits do not overlap
        margin-bottom: 5em;
    }

    #rtd-credit {
        background-color: $accent-background;
        color: $accent-foreground;
        padding: 2em;
        position: absolute;
        bottom: 0;
    }

    @media screen and (max-width: $max-width-medium) {
        width: 250px;
    }

    @media screen and (max-width: $max-width-small) {
        margin-right: 0;
        width: 100%;
        display: none;

        #side-menu {
            margin-bottom: 0;
        }

        #rtd-credit {
            position: relative;
        }
    }
}



a.headerlink {
    display: none;
    visibility: hidden;

    &:after {
        visibility: visible;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0c1";
        display: inline-block;
        opacity: 0.6;
    }
}

h1, h2, h3, h4, h5, h6, dl dt, p.caption {
    &:hover .headerlink {
        display: inline-block;
    }
}

#side-menu .local-toc {
    ul {
        text-transform: uppercase;
        font-family: $secondary-font-stack;
        font-weight: 300;
        padding-left: 0px;
        list-style-type: none;

        ul {
            margin-top: 1em;
            text-transform: none;
            font-family: $primary-font-stack;

            a {
                font-weight: 400;
            }
        }
    }
}

#side-menu {
    .caption {
        text-transform: uppercase;
        font-family: $secondary-font-stack;
        font-weight: 300;
        list-style-type: none;
        margin-bottom: 0px;
    }

    ul {
        margin-bottom: 1em;
        text-transform: none;
        font-family: $primary-font-stack;
        list-style-type: none;
        padding-left: 0px;

        a {
           font-weight: 400;
        }
    }
}

#search {

    background-color: $secondary-background;
    padding: 2em;

    input[type=text] {
        width: 100%;
        font-family: $secondary-font-stack;
        font-weight: 300;
        font-size: 1.5em;
        box-sizing: border-box;
        border: none;
        background-color: $secondary-background;
        color: white;

        &::placeholder {
            color: #a5a5a5;
        }
    }
}

.admonition {
    padding: 2em;
    margin-bottom: 2em;

    &.note {
        background-color: $secondary-background;
        color: $secondary-foreground;
    }

    &.warning {
        background-color: $warning-colour;
    }
}

// Hides the footer injected by RTD, which we then insert into a side menu bar
// within menu.html

.injected {
    display: none;
}

.toctree-wrapper .caption-text {
    text-transform: uppercase;
    font-family: $secondary-font-stack;
    font-weight: 300;
}