$primary-font-stack: 'Frank Ruhl Libre', serif;
$secondary-font-stack: 'Open Sans', sans-serif;
$monospace-font-stack: 'Inconsolata', monospace;

$primary-background: #F2F2F2;
$primary-foreground: #000000;

$secondary-background: #2D2D2D;
$secondary-foreground: #EBEBEB;

$accent-background: #DADADA;
$accent-foreground: $primary-foreground;

$warning-colour: #FFCCCC;

$max-width-medium: 1000px;
$max-width-small: 880px;