$primary-font-stack: 'IBM Plex Sans', serif;
$monospace-font-stack: 'Inconsolata', monospace;

$primary-background: #F2F2F2;
$primary-foreground: #2D2D2D;

$secondary-background: #2D2D2D;
$secondary-foreground: #EBEBEB;

$accent-background: #DADADA;
$accent-foreground: $primary-foreground;

$warning-colour: #CD4949;
$attention-colour: #49CDAC;

$max-width-medium: 1000px;
$max-width-small: 880px;
