<!DOCTYPE html>
<head>
  {{ metatags }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block htmltitle %}
  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
  {% endblock %}

  <link rel="stylesheet" href="_static/css/style.css"/>
</head>

<body>
  <div id="insegel-container">
    <header>
      <img src="_static/img/logo.svg">
    </header>
    
    <div id="main-content">
      {% block body %}{% endblock %}
    </div>

{% include "footer.html" %}

{%- block footer %} {% endblock %}

  </div>
</body>
</html>