<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  {{ metatags }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#2D2D2D" />
  {% block htmltitle %}
  <title>{{ project }} :: {{ title|striptags|e }}{{ titlesuffix }}</title>
  {% endblock %}

  <link rel="icon" type="image/png" sizes="32x32" href="{{ pathto('_static/img/favicon-32x32.png', 1) }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ pathto('_static/img/favicon-16x16.png', 1) }}">

  {%- if hasdoc('genindex') %}
        <link rel="index" title="{{ _('Index') }}"
              href="{{ pathto('genindex') }}"/>
    {%- endif %}

  <link rel="stylesheet" href="{{ pathto('_static/css/insegel.css', 1) }}"/>

  <script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
        URL_ROOT:'{{ url_root }}',
        VERSION:'{{ release|e }}',
        LANGUAGE:'{{ language }}',
        COLLAPSE_INDEX:false,
        FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
        HAS_SOURCE:  {{ has_source|lower }},
        SOURCELINK_SUFFIX: '{{ sourcelink_suffix }}'
    };
  </script>

  {%- for scriptfile in script_files %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
  {%- endfor %}

  <script src="https://email.tl.fortawesome.com/c/eJxNjUEOgyAQAF8jR7Kw6wIHDh7sP1Cw2mgxgmn6-3JsMqc5zEQfE8dkxOY1KKMUOI3ACFKRJpSW2AAp7ontYIaxI6i7XPJVwyeVfCQ550Os3jLrGSNOLgbdAy6s0PBk2TFNjEbsfq31LB0OnX407pJa5v2faRadwSW63mn5KuLyR9j2tgx3zecanl-55R_-jjPs"></script>

</head>

<body>
  <div id="insegel-container">
    <header>
      <a href="{{ pathto('/', 1) }}"><img src="{{ pathto('_static/img/logo.svg', 1) }}"></a>
    </header>

    <div id="content-container">

      <div id="main-content-container">
        <div id="main-content-header">
          <h1> {{ project }} : : {{ title }} </h1>
        </div>
        <div id="main-content">
          {% block body %}{% endblock %}
        </div>
      </div>

      <div id="side-menu-container">

        {% include "searchinput.html" %}

        <div id="side-menu" role="navigation">

          {% include "menu.html" %}
          
        </div>

        {% if READTHEDOCS %}
          <div id="rtd-credit">
            Free document hosting provided by <a href="https://readthedocs.org">Read the Docs</a>.
          </div>
        {% endif %}

      </div>

    </div>

{% include "footer.html" %}

{%- block footer %} {% endblock %}

</div>

</body>
</html>